@font-face {
  font-family: "Poetsen One";
  src: url("/assets/poetsen-one_regular.ttf") format("truetype");
}

*,
*:hover {
  cursor: none;
}

body {
  --color-bg: #000;
  --color-content: #fff;
  overflow: hidden;
  background-color: var(--color-bg);
  text-align: center;
  font-family: "Poetsen One", sans-serif;
}

#error-message {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100vw;
  top: 50vh;
  left: 0;
  translate: 0 -50%;
  color: var(--color-content);
  font-family: "Courier New", Courier, monospace;
  font-size: 4.5vmin;
  font-weight: 600;
}

#backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding-bottom: 7vmin;
  display: none;
  justify-content: center;
  align-items: flex-end;
  backdrop-filter: blur(5px);
  background-color: hsla(0, 0%, 0%, 0.6);
  transition: background-color 0.5s ease-out;
  animation: load-backdrop 2.8s ease-in 1;
}

a {
  text-decoration: none;
  display: block;
  font-size: 14vmin;
  color: var(--color-content);
  transition: transform 0.5s ease-out;
}

svg {
  display: inline;
  stroke: var(--color-content);
  width: 4vmin;
}

a:hover {
  transform: scale(0.9);
}

#backdrop:has(a:hover) {
  background-color: hsla(0, 0%, 0%, 0.8);
}

@keyframes load-backdrop {
  0% {
    opacity: 0;
  }
  72% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (any-hover: hover) {
  #cursor {
    --size-cursor: 5vmin;
    --transition-dur: 0.2s;
    --transition-func: ease-out;

    pointer-events: none;
    border: 2px solid var(--color-content);
    position: fixed;
    z-index: 2;
    top: -100%;
    left: -100%;
    width: var(--size-cursor);
    height: var(--size-cursor);
    transition: transform var(--transition-dur) var(--transition-func);
  }

  #cursor-inner {
    --size-cursor-inner: 1.4vmin;

    background-color: var(--color-content);
    width: var(--size-cursor-inner);
    height: var(--size-cursor-inner);
    position: absolute;
    top: 50%;
    left: 50%;
    transition: width var(--transition-dur) var(--transition-func),
      height var(--transition-dur) var(--transition-func);
  }

  #cursor,
  #cursor-inner {
    translate: -50% -50%;
    border-radius: 50%;
  }

  body:has(a:hover) #cursor {
    transform: scale(2.4);
    mix-blend-mode: difference;
  }

  body:has(a:hover) #cursor-inner {
    --size-cursor-inner: var(--size-cursor);
  }
}
